<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<div id="mains">
<table>
<tr>
<td>
<table style="width:600px; height:200px;border:6px outset white;background:#0000FF;
    color:white;">
  <tr>
    <th>Cell count</th>
    <th>Normalized Signal Intensity</th>
  </tr>

<% for i in 0..@yAxis.length - 1 %>
<tr><td style="text-align:center;"><%= @yAxis[i] %></td><td style="text-align:center;"><%= @x1Axis[i] %></td></tr>
<% end %>
</table>
</td>
</table>
</div>

<div id="container">
<input type="button" value="Get the scatter plot" id="firstChart" /><br />
<div id="myFirstChart" style="position:relative;margin:0 auto;"></div>


<input type="button" value="Parameters values.." id="results" /><br />
<div id="partResults" style="position:relative;margin:0 auto;">
<h3>Intercept:</h3> <h1><%= @theta0.to_s %></h1><h3>Slope:</h3><h1><%= @theta1.to_s %></h1>
</div>

<input type="button" value="SE function" id="secondChart"/><br />
<div id="mySecondChart" style="position:relative;margin:0 auto;"></div>

<input type="button" value="Get the Linear model" id="linearModel" /><br />
<div id="linerModelInside" style="position:relative;margin:0 auto;" >
<p style="white-space:nowrap;color:blue;"><h1><code>#cell count = <%= @theta0.to_s %> + <%= @theta1.to_s %> * Signal intensity</code></h1></p>
</div>

<input type="button" value="Thetas and SE in 3D" id="thirdChart" /><br />
<div id="myThirdChart" style="position:relative;margin:0 auto;" ></div>

</div>
<script>

google.load('visualization', '1.0', { 'packages': ['corechart'] });

function drawJfunctionChart() {

          var data = new google.visualization.arrayToDataTable([
           [ 'Iterations', 'SE_function' ], 
           <% @result.each do |key, value| %> 
	   [ <%= key %>, <%= value.to_s %> ], 
	   <% end %>
	   [ <%= @result.length + 1 %> , 0 ]

         ]);
         

         var options = {
                  title: 'Standard Error Function'
                  ,width:1250
                  ,height:300
                  ,backgroundColor: { fill:'transparent' }
               };

         var chart = new google.visualization.ScatterChart(document.getElementById('mySecondChart'));
             chart.draw(data, options);

    }

function drawOriScatterChartUnivariate() {

          var data = new google.visualization.arrayToDataTable([
          
         ['Signal intensity', 'cell count', 'Predicted Values'], 
           <% for i in 0..@yAxis.length - 1 %>
         [<%= @yAxis[i] %>, <%= @x1Axis[i] %>, <%= @lineOfFit[i] %>],
         <% end %>
	 [<%= @yAxis.last %>, <%= @x1Axis.last %>, <%= @lineOfFit.last %>]
]);

        var options = {
                  title: 'Signal Intensity Vs Cell Count'
                  ,width:1250
                  ,height:300
                  ,backgroundColor: { fill:'transparent' }

                  ,hAxis: {
                    title: 'Cell Count'
                   }
                 ,vAxis: {
                   title: 'Signal Intensity'
                   }
                 ,series: {
        // series 0 is the Scatter
        // series 1 is the Line
        1: {
            lineWidth: 1,
            pointSize: 1

        }
    }
 };

         var chart = new google.visualization.ScatterChart(document.getElementById('myFirstChart'));
             chart.draw(data, options);

    }

function drawOriScatterChartMultivariate() {

          var data = new google.visualization.arrayToDataTable([
           [  'Cell Count', 'Signal Intensity X1', 'Signal Intensity X2', 'Signal Intensity X3' ], 
           <% @raw_data_mod.each do |x| %>
       
	   [ <%= x %> ], 
	   <% end %>
	   [ <%= @raw_data_mod.last %> ]

         ]);
         

         var options = {
                  title: 'Signal Intensity Vs Cell Count'
                  ,width:1250
                  ,height:300
                  ,backgroundColor: { fill:'transparent' }
               };

         var chart = new google.visualization.ScatterChart(document.getElementById('myFirstChart'));
             chart.draw(data, options);

    }

function drawOriBubbleChart() {

          var data = new google.visualization.arrayToDataTable([
           [ '', 'theta0', 'theta1', 'SE_Function' ], 
           <% for i in 0..@forBubbleChart.length - 1 %>
       
	   [ '', <%= @thetaZeroValues[i] %>, <%= @thetaOneValues[i] %>, <%= @forBubbleChart[i] %> ], 
	   <% end %>
	   [ '', <%= @thetaZeroValues.last %>, <%= @thetaOneValues.last %>, <%= @forBubbleChart.last %> ]

         ]);
         

         var options = {
                  title: '3 Dimensional graph with theta0, theta1 and SEF'
                  ,width:1250
                  ,height:300
                  ,backgroundColor: { fill:'transparent' }
               };

         var chart = new google.visualization.BubbleChart(document.getElementById('myThirdChart'));
             chart.draw(data, options);

    }

function drawOriBubbleChartMultivariate() {

          var data = new google.visualization.arrayToDataTable([
           ['', 'theta1', 'theta2', 'theta3', 'SE_Function' ], 
           <% for i in 0..@forBubbleChart.length - 1 %>
       
	   [ '', <%= @thetaOneValues[i] %>, <%= @thetaTwoValues[i] %>, <%= @thetaThreeValues[i] %>, <%= @forBubbleChart[i] %> ], 
	   <% end %>
	   [ '', <%= @thetaOneValues.last %>, <%= @thetaTwoValues.last %>, <%= @thetaThreeValues.last %>, <%= @forBubbleChart.last %> ]

         ]);
         

         var options = {
                  title: '4 Dimensional graph with theta1, theta2, theta3 and SEF'
                  ,width:1250
                  ,height:300
                  ,backgroundColor: { fill:'transparent' }
              };

         var chart = new google.visualization.BubbleChart(document.getElementById('myThirdChart'));
             chart.draw(data, options);

    }


google.setOnLoadCallback(drawJfunctionChart);
 
  <% if @forBubbleChart.length > 100 %>
   google.setOnLoadCallback(drawOriScatterChartMultivariate); 
   google.setOnLoadCallback(drawOriBubbleChartMultivariate);
  <% else %> 
  google.setOnLoadCallback(drawOriScatterChartUnivariate); 
  google.setOnLoadCallback(drawOriBubbleChart); 
  <% end %>


</script>

<script typt="text/javascript">

(function() {

$('#myFirstChart').hide();
$('#mySecondChart').hide();
$('#myThirdChart').hide();
$('#linerModelInside').hide();
$('#partResults').hide();

$('#firstChart').click(function() { $('#myFirstChart').slideDown(2000).siblings('div').slideUp(1000);});
$('#results').click(function() { $('#partResults').slideDown(2000).siblings('div').slideUp(1000);});
$('#secondChart').click(function() { $('#mySecondChart').slideDown(2000).siblings('div').slideUp(1000);});
$('#linearModel').click(function() { $('#linerModelInside').slideDown(2000).siblings('div').slideUp(1000);});
$('#thirdChart').click(function() { $('#myThirdChart').slideDown(2000).siblings('div').slideUp(1000);});


})();

</script>
