<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<div id="myFirstChart" style="height: 250px;width:1200px;"></div>

<h1>Listing result</h1>
 
<%= "Intercept is: " + @theta0.to_s + " and Slope is  " + @theta1.to_s %><br><br>

<div id="mySecondChart" style="height: 250px;width:1200px;"></div>


<div>
<p>
<h3>The Linear model for this data set is:</h3>
<h2><%= "#cell count = " + @theta0.to_s + " + " + @theta1.to_s + " * Signal intensity" %><br><br></h2>
</p>
</div>

<div id="myThirdChart" style="height: 250px;width:1200px;"></div>

<script>

google.load('visualization', '1.0', { 'packages': ['corechart'] });

function drawJfunctionChart() {

          var data = new google.visualization.arrayToDataTable([
           [ 'Iterations', 'SE_function' ], 
           <% @result.each do |key, value| %> 
	   [ <%= key %>, <%= value.to_s %> ], 
	   <% end %>
	   [ <%= @result.length + 1 %>, 0 ]

         ]);
         

         var options = {
                  title: 'Standard Error Function'
               };

         var chart = new google.visualization.ScatterChart(document.getElementById('mySecondChart'));
             chart.draw(data, options);

    }

function drawOriScatterChart() {

          var data = new google.visualization.arrayToDataTable([
           [ 'Cell Count', 'Signal Intensity' ], 
           <% @raw_data_mod.each do |x| %>
       
	   [ <%= x %> ], 
	   <% end %>
	   [ <%= @raw_data_mod.last %> ]

         ]);
         

         var options = {
                  title: 'Cell Count Vs Signal Intensity'
               };

         var chart = new google.visualization.ScatterChart(document.getElementById('myFirstChart'));
             chart.draw(data, options);

    }

function drawOriBubbleChart() {

          var data = new google.visualization.arrayToDataTable([
           [ '', 'theta0', 'theta1', 'SE_Function' ], 
           <% for i in 0..@forBubbleChart.length - 1 %>
       
	   [ '', <%= @thetaZeroValues[i] %>, <%= @thetaOneValues[i] %>, <%= @forBubbleChart[i] %> ], 
	   <% end %>
	   [ '', <%= @thetaZeroValues.last %>, <%= @thetaOneValues.last %>, <%= @forBubbleChart.last %> ]

         ]);
         

         var options = {
                  title: '3 Dimensional graph with theta0, theta1, SEF on X, Y and Z axis'
               };

         var chart = new google.visualization.BubbleChart(document.getElementById('myThirdChart'));
             chart.draw(data, options);

    }

google.setOnLoadCallback(drawOriScatterChart);
google.setOnLoadCallback(drawJfunctionChart);
google.setOnLoadCallback(drawOriBubbleChart);

</script>
