<h1>Upload Calibration Data File</h1>

<%= form_for(@plot, :html => {:multipart => true}) do |f| %>
<table>
<tr>
     <td>
     <div>
        <b><%= f.label :expName, "Name of Experiment: " %></b> <br>
        <%= f.text_field :expName %>
     </div><br><br>
     </td>
</tr>
<tr>
    <td>
    <div>
       <b><%= f.label :explVariable, "Number of Explanatory Variable: " %></b><br>
       <%= f.text_field :explVariable %>
    </div><br><br>
    </td>
    <td>
    <div>
       <b><%= f.label :respVariable, "Number of Response Variable: " %></b><br>
       <%= f.text_field :respVariable %>
    </div><br><br>
    </td>
</tr>

<tr>
	<td>
        <div>
          <b><%= f.label :calibFile, 'Upload the Calibration data File' %></b><br>
          <%= file_field(:plot, :calibFile, :accept => 'text/csv')  %>
        </div><br><br>
	</td>
</tr>
</tr>
	<td>
        <div>
           <b><%= f.submit 'Create' %></b>
        </div>
            <% end %>
	</td>
</tr>
</table>

<%= link_to 'Back', plots_path %>
