<div class="mainBlock">
<fieldset class="field-set-alternate"><legend class="hide-div">File Upload</legend>
	<%= form_for(@predict, :html => { :multipart => true }) do |f| %>
	  <% if @predict.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@predict.errors.count, "error") %> prohibited this upload from being saved:</h2>

	      <ul>
	      <% @predict.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	<table width="100%" align="center">
		<tr>
			<td class="table-placment">
				<div>
				<h2>Select coeffecients file</h2><h5>(.csv format)</h5>
				<blockquote>Generate coeffecients file from <b>Home</b>.<br /> The final coeffecients file represents multiple species</blockquote>
				</div>


		<div>
		<b>
		<u>
		<a href="<%= '/download_sample_coeffs_file' %>" >Check an example coeffecients file</a>
		</u>
		</b>
		</div><br /><br />
				<span class="new-navigation round">	
				<%= f.file_field :coeffs %>
				</span>
				<br />
			</td>

			<td class="table-placment">
				<div>
				<h2>Select raw signal intensities</h2><h5>(.csv format)</h5>
				<blockquote>Either upload a list of probe-signal intensity file <br /> or upload raw .gpr file</blockquote>
				</div>
		<div>
		<b>
		<u>
		<a href="<%= '/download_sample_raw_inten_file' %>" >Check an example file</a>
		</u>
		</b>
		</div><br />
				<span class="new-navigation round">
				<%= f.file_field :rawinten %>
				  </span><span><b>Add Replicates</b><button type="button" style="background-color:transparent; border-color:transparent; cursor: pointer;" id="addFiles"  ><%= image_tag("add.ico", :alt => "S2C", :class => "round", :size => "35x35") %></button></span>
                             
				<br /><br />
                                
			</td>
		</tr>
                <tr>
                     <td>
                     
                     </td>
                     <td>
                          
<div class="table-placment">                      
			</div>	 
                              <br />                          
                             <div class="new-navigation round" id="repBlock">                  
                                <br />
                                <div class="file">
				<%= f.file_field :repone %>
				</div>
                                <br />
                                <div class="file">
				<%= f.file_field :reptwo %>
				</div >
                                <br />
                                <div class="file">
				<%= f.file_field :repthree %>
				</div>
                                <br />
                             </div>
                               
                     </td>
                </tr>
		<tr><br /><br />
			<td colspan="2" class="table-placment">
				<div>
				<%= f.submit "Upload", :id => "upload"  %>
				<% end %>

				</div>
			</td>
		</tr>
	</table>
</fieldset>
</div>


<br />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
$("#repBlock").css("display","none");
$("div.file").css("display","none");
$("div.file")[0].id = "file1";
$("div.file")[1].id = "file2";
$("div.file")[2].id = "file3";

$("#addFiles").click(function() {
        $("#repBlock").fadeIn("fast");
	$("#file1").fadeIn("slow");
		
		//Setup for the second click.
		   $(this).off('click');
		   $(this).on('click', function() {$("#file2").fadeIn("slow"); 
			
			//Setup for the third click.
			   $(this).off('click');
			   $(this).on('click', function() {$("#file3").fadeIn("slow"); 

				//Setup for the third click.
			   	$(this).off('click');
			   	$(this).on('click', function() {alert("Cannot add more replicates!!");

					});
			});
		});
	});

</script>

