<div class="table-placment">
<h1>Linear Regression Model</h1><br /><br />
<div class="table-placment model">
 Y<sub>i</sub> = &alpha; + 
<% for i in 1..@columnSize - 2 %>
       &beta;<sub><%= i %></sub> * X<sub><%= i %></sub> +
<% end %>
 &epsilon;<sub>0</sub>
</div>
</div>

<br />
<br />
<div class="table-placment">
<h1>Model Coeffecients Table</h1>
</div>
<br /><br />

<div class="ajaxResponce">

<% if @resultsToView %>

<table id="upload">
<thead>
<tr>
   <th>Probe Name</th>
   <th>Intercept</th>
<% for k in 1..@columnSize - 2 %>
   <th>Coeffecient <%= k %></th>
<% end %>
</tr>
</thead>

<tbody>
<% for i in 0..@totalSize - 1 %>
<tr>
   <% for j in 0..@columnSize - 1 %>
     <td><%= @resultsToView[i][j] %></td>
   <% end %>
</tr>
<% end %>    
</tbody>

<% end %>
</table>
</div>


<br /><br />
<div style="display:none;">
<input type="text" id="hiddenTwo" value="<%= @id %>" />
</div>

<div>
<a href="<%= '/download_cell_counts' %>"><u>Export coeffecients table as CSV</u></a>
</div>

<div id="preloader2" style="display:none;" class="upload">
<%= link_to upload2Logo, root_path %>
</div>

<div id="textMessage" style="display:none;" class="predictLink round new-notice">
<p>Download the coeffecients file and Predict cell counts from raw intensities by clicking on "Predict Cell Counts" tab from the navigation panel</p>
</div>

<script>
$('#upload').dataTable();

if ($('#hiddenTwo').val() > 0) {$('#textMessage').show().delay(10000).fadeOut('slow');}

</script>
