<h1>Model Coeffecients Table</h1>

<br /><br />

<div class="ajaxResponce">

<% if @resultsToView %>

<table id="upload">
<thead>
<tr>
   <th>Probe Name</th>
   <th>Intercept</th>
<% for k in 1..@columnSize - 2 %>
   <th>Coeffecient <%= k %></th>
<% end %>
</tr>
</thead>

<tbody>
<% for i in 0..@totalSize - 1 %>
<tr>
   <% for j in 0..@columnSize - 1 %>
     <td><%= @resultsToView[i][j] %></td>
   <% end %>
</tr>
<% end %>    
</tbody>

<% end %>
</table>
</div>


<br /><br />
<div style="display:none;">
<input type="text" id="hiddenTwo" value="<%= @id %>" />
</div>

<div>
<a id="downloadCoeffs" download="Coeffecients file" href="<%= '/download_coeffs' %>" onclick="downloadCoeffsFile(); return false;">Export coeffs table as CSV</a>
</div>

<div id="preloader2" style="display:none;" class="upload">
<%= link_to upload2Logo, root_path %>
</div>

<script>

$('#upload').dataTable();


//add a code for ajax request to download coeffecients file
function downloadCoeffsFile(){
          id = $('#hiddenTwo').val();
          console.log(id);
          var result = "";

     $.ajax({
	     url: '<%= url_for :controller => "uploads", :action => "download_coeffs" %>',
             type: 'POST',
	     data: {data:id},
	     dataType: 'string',
             async: false,
             success : function(response) { result = response;}
         }); 

    window.open('data:text/csv;charset=utf-8,' + escape(result));

      
  }    


</script>
