<div>
<fieldset class="field-set-alternate"><legend class="hide-div">File Upload</legend>
<%= form_for(:@upload, :html => {:multipart => true}) do |f| %>

<table width="100%" align="center">
<tr>
<td class="table-placment">
<div>
<%= f.fields_for @upload do |asset|%>
<h2>Select Calibration file</h2>
<%= asset.file_field :calib %>

</div>
<br /><br />
</td>

<td class="table-placment">
<div>
<h2>Select cell counts used in calibration</h2>
<%= asset.file_field :inten %>
</div>
<br /><br />
</td>
</tr>
<td colspan="2" class="table-placment">
 <div><%= f.submit "Upload" %></div>
</td>
</table>
 <% end %>
<% end %>

</fieldset>
</div>

<div class="hide-div">
<fieldset class="field-set"><legend>Selection of probes for normalization</legend>
</fieldset>
</div>

<div class="hide-div">
<fieldset class="field-set"><legend>Normalized signal intensities</legend>
</fieldset>
</div>

<div class="hide-div">
<fieldset class="field-set"><legend>Select algorithms for cell counting/predicting</legend>
</fieldset>
</div>

<br />
